*, *::before, *::after {
    box-sizing: border-box;
  }
html { 
  background: url(images/tst.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* btn grid on vastusekastide viisakamaks paigutuseks */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
    width: 800px;
    justify-content: center;
}
/* sellega peidab veebilehel mingit sisu */
.hide {
    display:none;
}
/* Mängu juhiste kuvamiseks on modaalaken, mille CSS on kirjeldatud allpool */
.modal {
    position: fixed; /* modaalaken kerib kasutajaga kaasa */
    top: 50%; /* keskjoondamiseks */
    left: 50%; /* keskjoondamiseks */
    transform: translate(-50%, -50%) scale(0); /* keskjoondamiseks, scale(0) peidab defaultina selle modaalakna */
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;  /* kasti nurgad ymarad */
    z-index: 10;  /* modaalaken tuleb muu sisu "peale" */
    background-color: white;
    width: 800px;
    max-width: 80%;
}
.modal.active {
    transform: translate(-50%, -50%) scale(1); /* muudab modaalakna n2htavaks */
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.modal-header .juhiste-pealkiri {
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-header .close-btn {
    cursor: pointer; /* hiirega peale liikudes arusaadav et nupp */
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-body {
    padding: 10px 15px;
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
#overlay.active {
    opacity: 1;
    pointer-events: all;
    
}
/* Mängu juhiste kuvamiseks on modaalaken, mille CSS on kirjeldatud ülalpool */
/* loading dots */

.loading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;}
  
@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}


#kategooriaPopup {
  display: none;
  margin: auto;
  justify-content: center;
    
}
@keyframes grow {
  0% {
      transform: scale(1.0);
      
  }
  100% {
      transform: scale(2.0);
      
  }
}
.county {
  position: absolute;

}
.fade-in {
	animation: fadeIn 1s;
  	opacity: 1;
}
@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}
.zoomword {
  margin-top: 200px;
  width: 500px;
  animation: crescendo 2s ease-in;
}
@keyframes crescendo {
  0%   {transform: scale(0);}
  100% {transform: scale(1);}
}
.vastusenupp {
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  font-family: 'Titillium Web', sans-serif;
}
.vastusenupp:hover {
  background-color: #00BAEE;
}
#nerdFactContainer {
  margin: auto;
  border: none;
  background-color: rgb(231, 231, 231);
  width: 600px;
  height: auto;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 4px;
  font-family: 'Titillium Web', sans-serif;
}
#kysimus {
  margin: auto;
  border:rgb(0, 0, 0);
  background-color: rgb(252, 250, 250);
  width: 600px;
  height: auto;
  padding: 15px 32px;
  text-align: center;
  /* text-decoration: none; */
  font-size: 16px;
  border-radius: 4px;
  font-family: 'Titillium Web', sans-serif;
}
#nextQuest {
  display: none;
  justify-content: flex-end;
}
.j2rgminekyss {
  border: none;
  background-color: rgb(190, 167, 211);
  margin-top: 24px;
  margin-right: 24px;
  padding: 15px 32px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  box-shadow: 0 1px 2px rgba(255, 0, 0, 0.2);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight:bold;
  color: #111110;
  border: solid 1px #FFE000;
  background:#ffd000;
  }
.j2rgminekyss:hover {
  background:#ffe100af ;
}
#avalehele {
  border: none;
  background-color: rgb(231, 231, 231);
  width: 200px;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}
#yksikM2ng {
  margin-top: 15px;
  display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(255, 0, 0, 0.2);
  width: 200px;
  padding: 15px 32px;
  text-align: center;
   font-weight:bold;
  text-decoration: none;
  font-size: 18px;
  color: #fef4e9;
	border: solid 1px #ff8c00;
  background:#fa6b05;
}
#yksikM2ng:hover {
  background:#faa51a;


}
#edetabelinupp {
  margin-top: 15px;
  font-weight:bold;
  display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(255, 0, 0, 0.2);
  width: 200px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #fef4e9;
	border: solid 1px #00BAEE;
  background:#00BAEE;
}
#edetabelinupp:hover {
  background:#00c8ff ;
  
}

.juhisenupp {
  margin-top: 15px;
  display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(255, 0, 0, 0.2);
  width: 200px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight:bold;
  color: #fef4e9;
	border: solid 1px #FFE000;
  background:#ffd000;
}
.juhisenupp:hover {
  background:#ffe100af ;
  
}
.saadakyss {
  font-weight:bold;
  margin-top: 15px;
  display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(255, 0, 0, 0.2);
  width: 200px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #fef4e9;
	border: solid 1px #63B34A;
  background:#63B34A;
}
.saadakyss:hover {
  background:#3fc018 ;
  
}
#noob {
  font-weight:bold;
  margin-top: 15px;
  display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(255, 0, 0, 0.2);
  width: 200px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #fef4e9;
	border: solid 1px #23cfc7;
  background:#1CBBB4;
}
#noob:hover {
  background:#22cec5 ;
}
#expert {
  font-weight:bold;
  margin-top: 15px;
  display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(255, 0, 0, 0.2);
  width: 200px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #fef4e9;
	border: solid 1px #ed317e;
  background:#ed317e;
}
#expert:hover {
  background:#fd026b ;
}
#kogusisu {
  margin: 150px auto;
  width: 800px;
  height: 619px;
  border-radius: 5px;
  background-color: rgb(220, 225, 226);
  
}  
#avaleht {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 10px;   
  /* background: url('images/taust.png') no-repeat center; /* https://www.w3schools.com/cssref/pr_background-image.asp */
} 
#avalehele {
  background-color: rgb(54, 54, 54);
  color: aliceblue;
}
#avalehele:hover {
  background-color: rgba(245, 40, 145, 0.8);
  color: aliceblue;
}

#raskustasemevaade {
  display: hide;
  flex-direction: column;
  align-items: center;   
  margin-top: 250px;
}
.btn {
  transition-duration: 0.4s;
}
#edetabelisisu {
  display: flex
}
#myForm {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}