*, *::before, *::after {
    box-sizing: border-box;
  }
body {
    background-image: url('images/taust.png'); /* https://www.w3schools.com/cssref/pr_background-image.asp */
    background-size: 872px 619px;
    background-repeat: no-repeat;
  }
/* btn grid on vastusekastide viisakamaks paigutuseks */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
    width: 800px;
}
/* sellega peidab veebilehel mingit sisu */
.hide {
    display:none;
}
/* Mängu juhiste kuvamiseks on modaalaken, mille CSS on kirjeldatud allpool */
.modal {
    position: fixed; /* modaalaken kerib kasutajaga kaasa */
    top: 50%; /* keskjoondamiseks */
    left: 50%; /* keskjoondamiseks */
    transform: translate(-50%, -50%) scale(0); /* keskjoondamiseks, scale(0) peidab defaultina selle modaalakna */
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;  /* kasti nurgad ymarad */
    z-index: 10;  /* modaalaken tuleb muu sisu "peale" */
    background-color: white;
    width: 720px;
    max-width: 80%;
}
.modal.active {
    transform: translate(-50%, -50%) scale(1); /* muudab modaalakna n2htavaks */
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.modal-header .juhiste-pealkiri {
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-header .close-btn {
    cursor: pointer; /* hiirega peale liikudes arusaadav et nupp */
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-body {
    padding: 10px 15px;
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
#overlay.active {
    opacity: 1;
    pointer-events: all;
    
}
/* Mängu juhiste kuvamiseks on modaalaken, mille CSS on kirjeldatud ülalpool */
/* loading dots */

.loading:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;}
  
@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}


#kategooriaPopup {
  color: white;
  font: 300 4em/150% Impact;
  text-align: center;
}
.vastusenupp {
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
}
#nerdFactContainer {
  border: none;
  background-color: rgb(231, 231, 231);
  width: 800px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}
#kysimus {
  border: none;
  background-color: rgb(231, 231, 231);
  width: 800px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}
.j2rgminekyss {
  border: none;
  background-color: rgb(190, 167, 211);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
}
#avalehele {
  border: none;
  background-color: rgb(231, 231, 231);
  width: 200px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}
#yksikM2ng {
  border: none;
  background-color: rgb(231, 231, 231);
  width: 200px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}
.edetabelinupp {
  border: none;
  background-color: rgb(231, 231, 231);
  width: 200px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.juhisenupp {
  border: none;
  background-color: rgb(231, 231, 231);
  width: 200px;
  padding: 15px 32px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}
.saadakyss {
  border: none;
  background-color: rgb(231, 231, 231);
  width: 200px;
  padding: 15px 32px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}
#noob {
  border: none;
  background-color: rgb(231, 231, 231);
  width: 200px;
  padding: 15px 32px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}
#expert {
  border: none;
  background-color: rgb(231, 231, 231);
  width: 200px;
  padding: 15px 32px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}